<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>USEP Solr orphans</title>
    </head>
    <body>
        {% if data %}
            <p>After refreshing the web-served inscription files from usep-data revision {{ data_revision }}, comparison with the {{ solr_index_label }} yielded these orphans:</p>
            <ul>
                {% for inscription_id in data %}<li>{{ inscription_id }}</li>{% endfor %}
            </ul>
            <p>Time taken: {{ time_taken }}</p>
            <hr>
            <p>Would you like to delete these orphans?</p>
            <form action="{{ orphan_handler_url }}" method="get">
                <button type="submit" value="Yes" name="action_button">Yes</button>
                <button type="submit" value="No" name="action_button">No</button>
            </form>
        {% else %}
            <p>After refreshing the web-served inscription files from usep-data revision {{ data_revision }}, no orphans were found in the {{ solr_index_label }}.</p>
        {% endif %}
    </body>
</html>
